---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description %}
    <p>{{ site.description }}</p>
  {% endif %}
  <script type="text/javascript">
  
    function shuffleArray(array) {
      for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
    }
     
    function sendLetter(){
      var to_names = new Array("YOSEF", "GÁVI", "גבריאל‏ יוסף", "席嘉力", "آتش جاوید");

      var endearments = new Array("DARLING", "DEAR", "DUCK", "HONEY", "JEWEL", "LOVE", "MOPPET", "SWEETHEART");

      var adjectives = new Array("AFFECTIONATE", "AMOROUS", "ADORABLE", "ANXIOUS", "AVID", "BEAUTIFUL", "BREATHLESS", "BURNING", "COVETOUS", "CRAVING", "CURIOUS", "DEAR", "EAGER", "EROTIC", "FERVENT", "FOND", "FONDEST", "IMPATIENT", "KEEN", "LITTLE", "LOVABLE", "LOVELY", "LOVESICK", "LOVING", "PASSIONATE", "PRECIOUS", "SEDUCTIVE", "SWEET", "SYMPATHETIC", "TENDER", "UNSATISFIED", "WINNING", "WISTFUL");

      var nouns = new Array("ADORATION", "AFFECTION", "AMBITION", "APPETITE", "ARDOUR", "BEING", "BURNING", "CHARM", "CRAVING", "DESIRE", "DEVOTION", "EAGERNESS", "ENCHANTMENT", "ENTHUSIASM", "FANCY", "FELLOW FEELING", "FERVOUR", "FONDNESS", "HEART", "HUNGER", "INFATUATION", "LIKING", "LONGING", "LOVE", "LUST", "PASSION", "RAPTURE", "SYMPATHY", "TENDERNESS", "THIRST", "WISH", "YEARNING");

      var adverbs = new Array("AFFECTIONATELY", "ARDENTLY", "ANXIOUSLY", "AVIDLY", "BEAUTIFULLY", "BURNINGLY", "COVETOUSLY", "CURIOUSLY", "DEVOTEDLY", "EAGERLY", "FERVENTLY", "FONDLY", "IMPATIENTLY", "KEENLY", "LOVINGLY", "PASSIONATELY", "SEDUCTIVELY", "TENDERLY", "WINNINGLY", "WISTFULLY");

      var verbs = new Array("ADORES", "ATTRACTS", "CARES FOR", "CLINGS TO", "HOLDS DEAR", "HOPES FOR", "HUNGERS FOR", "IS WEDDED TO", "LIKES", "LONGS FOR", "LOVES", "LUSTS AFTER", "PANTS FOR", "PINES FOR", "SIGHS FOR", "TEMPTS", "THIRSTS FOR", "TREASURES", "YEARNS FOR", "WANTS", "WISHES", "WOOS");

      var from_names = new Array("GENE", "למואל צבי");
      
      var greeting = to_names[Math.floor(Math.random() * to_names.length)] + " " + endearments[Math.floor(Math.random() * endearments.length)];
      var declarationA = "YOU ARE MY " + adjectives[Math.floor(Math.random() * adjectives.length)] + " " + nouns[Math.floor(Math.random() * nouns.length)] + ". ";
      var declarationB = "MY " + adjectives[Math.floor(Math.random() * adjectives.length)] + " " + nouns[Math.floor(Math.random() * nouns.length)] + " " + adverbs[Math.floor(Math.random() * adverbs.length)] + " " + verbs[Math.floor(Math.random() * verbs.length)] + " YOUR " + adjectives[Math.floor(Math.random() * adjectives.length)] + " " + nouns[Math.floor(Math.random() * nouns.length)] + ". ";
      var declarationC = "YOU ARE MY " + adjectives[Math.floor(Math.random() * adjectives.length)] + " " + nouns[Math.floor(Math.random() * nouns.length)] + ".. MY " + adjectives[Math.floor(Math.random() * adjectives.length)] + " " + nouns[Math.floor(Math.random() * nouns.length)] + ". ";
      var declarationD = "MY " + adjectives[Math.floor(Math.random() * adjectives.length)] + " " + nouns[Math.floor(Math.random() * nouns.length)] + " " + adverbs[Math.floor(Math.random() * adverbs.length)] + " " + verbs[Math.floor(Math.random() * verbs.length)] + " YOUR " + nouns[Math.floor(Math.random() * nouns.length)] + ". ";
      var farewell = "YOURS " + adverbs[Math.floor(Math.random() * adverbs.length)];
      var signoff = from_names[Math.floor(Math.random() * from_names.length)];
      
      var declarations = new Array(declarationA, declarationB, declarationC, declarationD);
      shuffleArray(declarations);
      
      document.getElementById("greeting").innerHTML=greeting;
      document.getElementById("declaration1").innerHTML=declarations[0];
      document.getElementById("declaration2").innerHTML=declarations[1];
      document.getElementById("declaration3").innerHTML=declarations[2];
      document.getElementById("declaration4").innerHTML=declarations[3];
      document.getElementById("farewell").innerHTML=farewell;
      document.getElementById("signoff").innerHTML=signoff;
    }
    
  </script>
</header>

<body onLoad="sendLetter()">
{{ content }}
<p><br/><br/></p>
<p>
<span id="greeting"></span><br/>
<br/>
<span id="declaration1"></span><span id="declaration2"></span><span id="declaration3"></span><span id="declaration4"></span><br/>
<br/>
<span id="farewell"></span><br/>
<span id="signoff"><span>
</p>
<p><br/><br/></p>
<button onclick="sendLetter()">New letter</button>
</body>
